{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加数据</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/bootstrap.css' %}"/>


</head>
<body>
    <div class="page-header">
        <h1 class="text-center"><strong>所有手机数据</strong></h1>
    </div>
    <div style="width: 800px;margin: 0 auto">
        <table class="table table-striped">
            <tr>
                <th>序号</th>
                <th>手机名称</th>
                <th>手机价格</th>
                <th>手机信息</th>
            </tr>
            {% for phone in phones%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{phone.name}}</td>
                        <td>{{phone.price}}</td>
                        <td>{{phone.content}}</td >
                    </tr>
            {% endfor %}
        </table>
    </div>
    <div style="margin: 0 auto;width: 300px;height: 100px;"></div>
    <div style="margin: 0 auto;width: 300px;height: 100px;">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="/all/{{pagePre}}/" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="/all/1/">1</a></li>
            <li><a href="/all/2/">2</a></li>
            <li><a href="/all/3/">3</a></li>
            <li><a href="/all/4/">4</a></li>
            <li><a href="/all/5/">5</a></li>
            <li>
              <a href="/all/{{pageNext}}/" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    <script type="text/javascript" src="{% static 'myapp/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/bootstrap.js' %}"></script>
    <script>
        $(document).ready(function () {

            var t = {{pageNext}}
        })
    </script>

</body>
</html>